

// **********
// BUBBLY GRID SYSTEM
// **********


/* Sym grid (symmetrical only)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*

- the 'clearing' variable is used to make sure that
  every column clears at the end of each cycle (e.g., if col = 4, it's gonna clear every 4th item)

- width = 99.99% because otherwise the layout breaks in IE...

*/

@mixin sym-grid($col: 1, $gutter: 10px, $stretch: false) {

  $clearing : $col + 1;
  width: calc(99.99% * 1/#{$col} - (#{$gutter} - #{$gutter} * 1/#{$col}));
  margin-right: $gutter;
  &:nth-of-type(n) {
    margin-right: $gutter;
  }
  &:nth-of-type(#{$col}n+#{$col}) {
    margin-right: 0;
  }

  @if $stretch == true {
    @for $i from 2 through $col {
      $remainingCols : ($col - $i) + 1;
      &:nth-of-type(#{$col}n+#{$i}):last-of-type {
        flex-grow: 1;
        margin-right: 0;
      }
      &:nth-of-type(#{$col}n+#{$clearing}):last-of-type {
        flex-grow: 1;
        margin-right: 0;
      }
    }
  }
  @else if $stretch == reset {
    @for $i from 2 through $col {
      $remainingCols : ($col - $i) + 1;
      &:nth-of-type(#{$col}n+#{$i}):last-of-type {
        flex-grow: 0;
      }
      &:nth-of-type(#{$col}n+#{$clearing}):last-of-type {
        flex-grow: 0;
      }
    }
  }
}


/* Asym grid (asymmetrical)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* The transformRatio function is here thanks to IE...which doesn't handle properly the raw ratios we pass within the @mixin asym-grid($col, $push...) */
@function transformRatio($ratio) {
  $newRatio: $ratio * 100;
  @return $newRatio;
}


@mixin asym-grid($col: 1/1, $gutter: 0px, $last: false, $linebreak: false, $push: false, $pull: false) {
  $newCol: call(transformRatio, $col); // coz of IE...
  margin-right: $gutter;
  width: calc(99.99% * (#{$newCol}/100) - (#{$gutter} - #{$gutter} * (#{$newCol}/100)));

  @if $last == true {
    margin-right: auto;
  }

  @if $linebreak == true {
    margin-right: calc(#{$newCol} * 1%);
  }

  @if $push != false and $push != reset {
    $newPush: call(transformRatio, $push);
    position: relative;
    left: calc(99.99% * (#{$newPush}/100) + (#{$gutter} + #{$gutter} * (#{$newPush}/100)) - #{$gutter});
  }
  @if $push == reset {
    position: static;
  }

  @if $pull != false and $pull != reset {
    $newPull: call(transformRatio, $pull);
    position: relative;
    right: calc(99.99% * (#{$newPull}/100) + (#{$gutter} + #{$gutter} * (#{$newPull})/100) - #{$gutter});
  }
  @if $pull == reset {
    position: static;
  }
}
